body {
    padding: 20px;
    justify-content: center;
    align-items: center;
}
.form-signin, .nav-tabs, .tab-content{
    max-width: 200px;
    left: 50%
}
.form-signin .form-signin-heading .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn-success {
    background-color: darkgreen;
}

button:hover {
    opacity: 0.95;
}

#loginDiv {
    display: block;
    position: relative;
    margin: auto;
    max-width: 200px;
}

.ml16 {
    color: darkgreen;
    padding: 40px 0;
    font-weight: 800;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    overflow: hidden;
    text-align: center;
    font-family: "Impact";
}

.ml16 .letter {
    display: inline-block;
    line-height: 1em;
}

#logo {
    text-align: center;
    font-family: 'Concert One';
    width: 200px;
    align-content: center;
    margin: auto;
    height: 150px;
    border-radius: 6px;
}
#aboutBtn {
    left: 75%;
}

/* The actual popup */
#infopop {
    display: none;
    background-color: rgba(37, 39, 76, 0.5);
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: relative;
    z-index: 2;
    max-width: 300px;
}

/* Popup arrow */
#infopop::after {
    content: "";
    position: relative;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
#infopop .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
.wrapper {
    margin:auto;
}
.popupstyle {
    font-family: 'sans-serif';
}
