<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>WhatsForDinner</title>
    <link href="/styles.css" rel="stylesheet" type="text/css"/>
</head>
<body background="bilder/bakgrund.jpeg">
<p id="filler"></p>
    <div id="parallax">
        <div id="logo">
            <img id="logga" src="/bilder/logga.png"/>


        </div>
        <div class="getinfo">
                <input type="text" id= "searchBar" name="searchBar" placeholder="Enter ingredients.."/>
        </div>
        <div id="searchButton">
            <p class="myButton">Search</p>
        </div>
        <div id="resultbox">
            <div id="results" class="popuptext popup"></div>
        </div>

        <div id="knappar">
            <span class="myButton" id="favoritebtn">Favourites</span>

            <div  style="display: none" id="favoritestring" th:text="${session.favorites}"></div>
            <span class="myButton" id="historybtn">History</span>
        </div>
        
        

        <div class="wrapper">
            <div class="popup button" onclick="myFunction()">Info
            <div class="popuptext" id="infopop">
                <h1 class="popupstyle"><em>Information about our page:</em></h1>
                <p class="popupstyle"></p>
                <p class="popupstyle">If you, like most people have loads of different ingredients</p>
                <p class="popupstyle">in your fridge but can't come up with anything to cook.</p>
                <p class="popupstyle">Simply enter your ingredients into our search field and we</p>
                <p class="popupstyle">will compare them with our database and show you all our</p>
                <p class="popupstyle">recepies containing those ingredients and suggest recepies</p>
                <p class="popupstyle">for your to cook. We will also provide you with recipies which</p>
                <p class="popupstyle">you are close to being able to make. This feature can be toggled</p>
                <p class="popupstyle">via our smart filtration system.</p>
            </div>
            </div>
        </div>​
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="/info.js"></script>
</body>
</html>