<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>WhatsForDinner</title>
    <link href="/styles.css" rel="stylesheet" type="text/css"/>
</head>
<body background="bilder/bakgrund.jpeg">
    <div id="parallax">
        <div id="logo">
            <p id="logga">INSERT LOGGA HÄR!!!!!</p>
        </div>
        <div class="getinfo">
                <input type="text" name="search" placeholder="Enter ingredients.."/>
        </div>
        <div id="searchbutton">
            <p class="button">Search</p>
        </div>
        <div class="getinfo">
            <p id="result">Resultat</p>
        </div>
        <div id="knappar">
            <span class="button" id="favoritebtn">Favourites</span>
            <span class="button" id="historybtn">History</span>
        </div>
        
        

        <div class="wrapper">
            <div class="popup button" onclick="myFunction()">Info
            <div class="popuptext hide" id="infopop">
                <h1 class="popupstyle"><em>Information about our page:</em></h1>
                <p class="popupstyle"></p>
                <p class="popupstyle">If you, like most people have loads of different ingredients</p>
                <p class="popupstyle">in your fridge but can't come up with anything to cook.</p>
                <p class="popupstyle">Simply enter your ingredients into our search field and we</p>
                <p class="popupstyle">will compare them with our database and show you all our</p>
                <p class="popupstyle">recepies containing those ingredients and suggest recepies</p>
                <p class="popupstyle">for your to cook. We will also provide you with recipies which</p>
                <p class="popupstyle">you are close to being able to make. This feature can be toggled</p>
                <p class="popupstyle">via our smart filtration system.</p>
            </div>
            </div>
        </div>​
    </div>
    <script src="/info.js"></script>
</body>
</html>