<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>WhatsForDinner</title>
    <link href="/styles.css" rel="stylesheet" type="text/css"/>
</head>
<body background="bilder/bakgrund.jpeg">
    <div id="parallax">
        <div id="logo">
            <p id="logga">INSERT LOGGA HÄR!!!!!</p>
        </div>
        <div class="getinfo">
                <input type="text" name="search" placeholder="Ange ingredienser.."/>
        </div>
        <div class="getinfo">
            <p id="result">Resultat</p>
        </div>
        <div id="knappar">
            <span class="button" id="favorite">Favoriter</span> 
            <span class="button" id="history">Historik</span>
        </div>
        
        

        <div class="wrapper">
            <div class="popup button" onclick="myFunction()">Info
            <div class="popuptext" id="infopop">
                <h1 class="popupstyle"><em>Information om sidan:</em></h1>
                <p class="popupstyle"></p>
                <p class="popupstyle">Denna webapplikation är till för dig som har mat i kylen</p>
                <p class="popupstyle">men inte kommer på vad du ska laga. Vi använder oss</p>
                <p class="popupstyle">utav de varor som finns i ditt kylskåp och jämför med vår</p>
                <p class="popupstyle">databas för att hitta recept som matchar dina ingredienser.</p>
                <p class="popupstyle">Vi hittar även resultat som du nästan har alla ingredienser</p>
                <p class="popupstyle">för, om så önskas. Denna funktion går att stänga av via </p>
                <p class="popupstyle">vårat smarta filtreringssystem.</p>
            </div>
            </div>
        </div>​
    </div>
    <script src="/info.js"></script>
</body>
</html>